body{
    background: #3a4750;
    color: lightgrey;
}

button{
    border-radius: 0;
}

#navigation{
    border-bottom: 1px solid lightgrey;
}

.nav-logo{
    width: 65px;
    height: 56px;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    background: #3a4750;
}

.access-denied{
    background: rgba(211,211,211,0.2);
}

.access-header{
    border-bottom: 1px solid lightgrey;
    margin: 20px;
}

.access-message{
    margin: 20px;
}