*{
    color: lightgrey;
}

body{
    background: #3a4750;
}

/* chromium
input ::-webkit-inner-spin-button,
input ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

*/
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    color: black;
}
option{
    color: black;
}

/*
 FireFox
input {
    -moz-appearance: textfield;
}
*/

#isAdmin{
    color: black;
}

#navigation{
    border-bottom: 1px solid lightgrey;
}

.nav-logo{
    width: 65px;
    height: 56px;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-container{
    background: rgba(211,211,211,0.2);

}

.index-header{
    border-bottom: 1px solid lightgrey;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.index-btn{
    margin: 10px 0px;
    width: 100%;
}

.login-form{
    background: #3a4750;
}

.form-error {
    text-align: left;
    display: flex;
    color: red;
    font-size: small;
    font-style: italic;
}
.li-error{
    list-style: none;
}

.access-denied{
    background: rgba(211,211,211,0.2);
}

.access-header{
    border-bottom: 1px solid lightgrey;
    margin: 20px;
}

.access-message{
    margin: 20px;
}

.fishingTripTable{
    border-bottom: 1px solid lightgrey;
}

.fish-picture{
    width: 45px;
    height: 45px;
}

.btn-add-catch{
    display: flex;
    justify-content: right;
    align-items: start;
    margin: 0;
}