<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>Exception</title>
</head>
<body>
    <nav th:replace="navbar :: navigation"></nav>
    <div class="container wrapper mt-lg-5">
        <div class=" access-denied w-50">
            <div class="access-header">
                <h4 class="font-weight-light">Status Code ? message</h4>
            </div>
            <div class="mt-2 access-message">
                <h5>Exception.....</h5>
            </div>
        </div>
    </div>
</body>
</html>