<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>Fishing Trip</title>
</head>
<body>
    <nav th:replace="navbar :: navigation"></nav>
    <div sec:authorize="isAnonymous()">
        <div class="wrapper container mt-lg-5">
            <div class="w-25 index-container">
                <div class="index-header">
                    <H1 class="font-weight-light">Fishing Trip</H1>
                </div>
                <div class="index-content">
                    <p>Information</p>
                </div>
            </div>
        </div>
    </div>

    <div sec:authorize="isAuthenticated()">
        <div class="wrapper container mt-lg-5">
            <div class="w-25 index-container">
                <div class="index-header">
                    <H1 class="font-weight-light">Fishing Trip</H1>
                </div>
                <div class="index-content">
                    <div class="index-nav w-100">
                        <a class="index-btn btn btn-outline-light" th:href="@{/fishing/gofishing}">Go Fishing</a><br>
                        <a class="index-btn btn btn-outline-light" th:href="@{/fishing/trips}">Fishing Trips</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>