<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navigation" class="navbar navbar-dark bg-dark" id="navigation">
    <ul class="nav">
        <li class="nav-item">
            <a class="navbar-brand text-light" th:href="@{index}"><img class="nav-logo" th:src="@{img/FishingTripLight.png}" alt="FishingTrip"></a>
        </li>
        <!--    <li class="nav-item">
            <a class="nav-link text-light" href="#">Register</a>
        </li>
            <li class="nav-item">
            <a class="nav-link text-light" href="#">Link 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#">Link 3</a>
        </li>   -->
    </ul>
    <form th:action="@{/logout}" class="form-inline" method="post">
        <div sec:authorize="isAuthenticated()">
            <!-- <p th:text="${Find a way to show logged in user username}"></p> -->
            <button class="btn btn-outline-light" type="submit" value="Logout">Logout</button>
        </div>
        <div sec:authorize="isAnonymous()">
            <a class="btn btn-outline-light" th:href="@{/register}" value="Sign up">Sign Up</a>
            <a class="btn btn-outline-light" th:href="@{/login}" value="Login">Login</a>
        </div>
    </form>
</nav>
</body>
</html>