<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
    <nav th:replace="navbar :: navigation"></nav>
    <div class="container wrapper">
        <div class="card w-50 mt-4 mb-3 border-light login-form">
            <div class="card-body">
                <h5 class="card-title mb-3">Update User <span th:text="${updatedAppUserForm.userName}"></span></h5>
                <form th:action="@{/users/{username}/update(username=${updatedAppUserForm.userName})}" th:object="${updatedAppUserForm}" method="POST">
                    <div class="form-group  mb-2">
                        <input type="hidden" th:value="${updatedAppUserForm.userId}" th:field="*{userId}">
                    </div>
                    <div class="form-group mb-2">
                        <label for="username">Username</label>
                        <input class="form-control" type="text" id="username" name="username" placeholder="Username" th:field="*{userName}" />
                    </div>
                    <div th:if="${#fields.hasErrors('userName')}">
                        <ul class="p-0" >
                            <li class="li-error" th:each="err : ${#fields.errors('userName')}">
                                <span class="form-error" th:text="${err}"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group mb-2">
                        <label for="firstName">First Name</label>
                        <input class="form-control" type="text" id="firstName" name="firstName" placeholder="First Name" th:field="*{firstName}" />
                    </div>
                    <div th:if="${#fields.hasErrors('firstName')}">
                        <ul class="p-0" >
                            <li class="li-error"  th:each="err : ${#fields.errors('firstName')}">
                                <span class="form-error" th:text="${err}"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group mb-2">
                        <label for="lastName">Last Name</label>
                        <input class="form-control" type="text" id="lastName" name="lastName" placeholder="Last Name" th:field="*{lastName}" />
                    </div>
                    <div th:if="${#fields.hasErrors('lastName')}">
                        <ul class="p-0" >
                            <li class="li-error" th:each="err : ${#fields.errors('lastName')}">
                                <span class="form-error" th:text="${err}"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group mb-2">
                        <label for="email">Email</label>
                        <input class="form-control" type="email" id="email" name="email" placeholder="email@example.com" th:field="*{email}" />
                    </div>
                    <div th:if="${#fields.hasErrors('email')}">
                        <ul class="p-0" >
                            <li class="li-error"  th:each="err : ${#fields.errors('email')}">
                                <span class="form-error" th:text="${err}"></span>
                            </li>
                        </ul>
                    </div>
                    <div sec:authorize="hasAuthority('ADMIN')">
                        <label for="isAdmin">Create Admin</label>
                        <input type="checkbox" id="isAdmin" value="true" th:field="*{admin}">
                    </div>
                    <div class="form-group mb-2">
                        <button type="submit" class="mt-2 btn btn-sm btn-outline-light text-light">Update User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>