<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <nav th:replace="navbar :: navigation"></nav>
    <div class="container wrapper mt-lg-5">
        <p>Username:</p><br>
        <p th:text="${user.userName}" ></p><br>
        <p>Email:</p><br>
        <p th:text="${user.email}" ></p><br>
        <p>Name:</p>
        <p th:text="${user.firstName +' '+ user.lastName}" ></p><br>
        <p>Registration date:</p><br>
        <p th:text="${user.regDate}"></p><br>
    </div>
</body>
</html>