<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <nav th:replace="navbar :: navigation"></nav>
    <div class="container wrapper mt-lg-5">
        <div class=" container w-75">
            <div class="wrapper">
                <h4 th:text="${user.userName}"></h4>
            </div>
            <div class="container wrapper">
                <div>
                </div>
                    <img class="profile-picture" th:src="@{/img/profile.png}" alt="Profile Picture">
                <div>
                    <ul class="user-details">
                        <li>
                            <h5>Name</h5>
                            <p th:text="${user.firstName +' '+user.lastName}"></p>
                        </li>
                        <li>
                            <h5>Username</h5>
                            <p th:text="${user.userName}"></p>
                        </li>
                        <li>
                            <h5>Email</h5>
                            <p th:text="${user.email}"></p>
                        </li>
                        <li>
                            <h5>Registration date</h5>
                            <p th:text="${user.regDate}"></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')" class="wrapper w-100 update-user">
                <a class="btn update mr-2" th:href="@{/users/{username}/update (username=${user.userName})}"><img
                        th:src="@{/img/update.png}" alt="Update">
                </a>
                <a class="btn update" th:href="@{/users/{username}/delete (username=${user.userName})}"><img
                        th:src="@{/img/delete.png}" alt="Delete">
                </a>
            </div>
        </div>
    </div>
</body>
</html>