<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
    <nav th:replace="navbar :: navigation"></nav>
    <div class="container wrapper mt-lg-5">
        <div class=" container w-75">
            <div class="wrapper">
                <h4>All Users</span></h4>
            </div>
            <table class="table table-borderless mt-lg-5">
                <thead>
                <tr class="fishingTripTable">
                    <th scope="col">UserID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td><span th:text="${user.userId}"></span></td>
                    <td><span th:text="${user.userName}"></span></td>
                    <td><span th:text="${user.email}"></span></td>
                    <td><a class="btn btn-sm btn-outline-light text-light" th:href="@{/users/{username} (username=${user.userName})}">Details</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>