<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
    <nav th:replace="navbar :: navigation"></nav>
    <div class="container wrapper mt-lg-5">
        <div class=" container w-75">
            <div class="wrapper">
                <h4>Fishing Trips made by <span sec:authentication="name" class="mr-2"></span></h4>
            </div>
            <table class="table table-borderless mt-lg-5">
                <thead>
                <tr class="fishingTripTable">
                    <th scope="col">Fishing techniques</th>
                    <th scope="col">Water</th>
                    <th scope="col">Location</th>
                    <th scope="col">Date</th>
                    <!--<th scope="col">Fish caught</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th> -->
                </tr>
                </thead>
                <tbody>
                <tr th:each="fishingTrip : ${fishingTrips}">
                    <td><span th:text="${fishingTrip.fishingMethod}"></span></td>
                    <td><span th:text="${fishingTrip.waterType}"></span></td>
                    <td><span th:text="${fishingTrip.location}"></span></td>
                    <td><span th:text="${fishingTrip.formattedDate}"></span></td>
                    <td><a class="btn btn-sm btn-outline-light text-light" th:href="@{/fishing/trips/details(fishingTripId=${fishingTrip.fishingTripId})}">Details</a></td>
                    <!--    <td>
                        <form th:action="@{delete}" method="post">
                            <input type="hidden" name="id" id="id" th:value="${fishingTrip.fishingTripId}"/>
                            <input class="btn btn-sm btn-danger" type="submit" value="Delete">
                        </form>
                    </td>   -->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>